#root {
    width: 100%;
    min-height: 100dvh;
}

.canvas {
    min-height: inherit;
    background-size: cover;
    background-position: center;
}

.content-wrapper {
    min-height: inherit;
    background-color: var(--shade);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home {
    margin: 0 auto;
    width: min(700px, 85%);
    padding: 2rem 0;
}

#intro {
    text-align: center;
    margin-bottom: 1.5rem;
}

.logo-v {
    color: #747bff;
}

#intro p {
    margin-top: 1.5rem;
    color: #888;
}

#hash-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.field-wrapper {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    text-align: left;
}

#hash-form select,
#hash-form textarea,
#result {
    border: 1px solid #747bff75;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1rem;
    resize: vertical;
    background-color: transparent;
}

#result {
    box-sizing: border-box;
    width: 100%;
    margin-top: 2em;
    font-family: monospace;
    word-break: break-all;
    color: inherit;
    resize: none;
}

#result:focus {
    outline: none;
}
