#root {
    width: 100%;
}

#home {
    margin: 0 auto;
    width: min(700px, 85%);
}

#intro {
    text-align: center;
    margin-bottom: 1.5rem;
}

.logo-v {
    color: #747bff;
}

p {
    color: #888;
}

#hash-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.field-wrapper {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    text-align: left;
}

#hash-form select,
#hash-form textarea {
    border: 1px solid #555;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1rem;
}

#result {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    border: 1px solid #555;
    border-radius: .5rem;
    margin-top: 1.75em;
    font-family: monospace;
    word-break: break-all;
    color: inherit;
    background-color: transparent;
}
#result:focus {
    outline: none;
}
